adi_xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:title="http://www.cablelabs.com/namespaces/metadata/xsd/title/1">
	<xs:element name="Actor">
		<xs:complexType>
			<xs:attribute name="firstName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ice"/>
						<xs:enumeration value="Mariska"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fullName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ice T"/>
						<xs:enumeration value="Mariska Hargitay"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lastName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Hargitay"/>
						<xs:enumeration value="T"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sortableName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HargitayMariska"/>
						<xs:enumeration value="TIce"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DisplayRunTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1:00:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Genre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3:0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LocalizableTitle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title:TitleBrief"/>
				<xs:element ref="title:TitleMedium"/>
				<xs:element ref="title:TitleLong"/>
				<xs:element ref="title:SummaryShort"/>
				<xs:element ref="title:Actor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rating">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="title:ST_Rating">
					<xs:attribute name="ratingSystem" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="BSkyBca"/>
								<xs:enumeration value="BSkyBsi"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SummaryShort" type="xs:string"/>
	<xs:element name="TitleBrief">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DUMMY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleLong">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DUMMY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleMedium">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Law &amp; Order: Special Victims Unit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_Rating">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
