adi_xsd5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AudioType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Stereo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentCheckSum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="216a35fc11ad9c4f51ceee60ebde1f8b"/>
				<xs:enumeration value="3be59775488e73e109e1bc45b5ef41e2"/>
				<xs:enumeration value="6a3c1baa81509553073e48f952044866"/>
				<xs:enumeration value="7407583bea9c1ca7a392c3cfe2c8ad9d"/>
				<xs:enumeration value="8e9b843cb58e54daac29ce956a64386c"/>
				<xs:enumeration value="952be424f76b2ce570bf3bb060ee2cac"/>
				<xs:enumeration value="96943dfc3a1948372e46cabe2191b8c0"/>
				<xs:enumeration value="accf2cb88a662c93580fb8c87c6c44a4"/>
				<xs:enumeration value="bac8f60b0d3ba8a4a877164d0fe250fc"/>
				<xs:enumeration value="d3665e1f2e1f99cec029d84b14865679"/>
				<xs:enumeration value="d8c0a9772f83ee0ed99251540e4645e4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentFileSize">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="11312"/>
				<xs:enumeration value="144110"/>
				<xs:enumeration value="176231"/>
				<xs:enumeration value="220537"/>
				<xs:enumeration value="23834"/>
				<xs:enumeration value="33009"/>
				<xs:enumeration value="44212"/>
				<xs:enumeration value="45053"/>
				<xs:enumeration value="58633"/>
				<xs:enumeration value="58650"/>
				<xs:enumeration value="762088"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Duration">
		<xs:simpleType>
			<xs:restriction base="xs:duration">
				<xs:enumeration value="PT40M19S"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsHDContent" type="xs:boolean"/>
	<xs:element name="ScreenFormat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Widescreen"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceUrl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PRAB0100000000581746.jpg"/>
				<xs:enumeration value="PRAW0100000000581746.jpg"/>
				<xs:enumeration value="PRES0100000000581746.jpg"/>
				<xs:enumeration value="PRIB0100000000581746.jpg"/>
				<xs:enumeration value="PRIW0100000000581746.jpg"/>
				<xs:enumeration value="PRMH0100000000581746.jpg"/>
				<xs:enumeration value="PRMW0100000000581746.jpg"/>
				<xs:enumeration value="PRSB0100000000581746.jpg"/>
				<xs:enumeration value="PRSW0100000000581746.jpg"/>
				<xs:enumeration value="THUM0100000000581746.jpg"/>
				<xs:enumeration value="peacockUK.jpg"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Usage" type="xs:anyURI"/>
</xs:schema>
