ADI_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/vod30/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/vod30/1" xmlns:ext="URN:NNDS:CMS:ADI3:01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" xmlns:offer="http://www.cablelabs.com/namespaces/metadata/xsd/offer/1" xmlns:terms="http://www.cablelabs.com/namespaces/metadata/xsd/terms/1" xmlns:title="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns:content="http://www.cablelabs.com/namespaces/metadata/xsd/content/1">
	<xs:import namespace="URN:NNDS:CMS:ADI3:01" schemaLocation="ADI_XSD2.xsd"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" schemaLocation="ADI_XSD1.xsd"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/offer/1" schemaLocation="ADI_XSD3.xsd"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/terms/1" schemaLocation="ADI_XSD6.xsd"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" schemaLocation="ADI_XSD4.xsd"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" schemaLocation="ADI_XSD5.xsd"/>
	<xs:element name="ADI3">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContentGroup" maxOccurs="unbounded"/>
				<xs:element ref="Title"/>
				<xs:element ref="Movie"/>
				<xs:element ref="Thumbnail" minOccurs="0"/>
				<xs:element ref="Ext"/>
				<xs:element ref="Offer" maxOccurs="unbounded"/>
				<xs:element ref="Terms" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="delete" type="xs:boolean"/>
			<xs:attribute name="version">
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContentGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="core:Ext"/>
				<xs:element ref="offer:TitleRef"/>
				<xs:choice minOccurs="0">
					<xs:sequence>
						<xs:element ref="offer:MovieRef"/>
						<xs:element ref="offer:ThumbnailRef"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="offer:ContentRef"/>
						<xs:element ref="offer:MovieRef"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ext">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="ext:CategoryImage"/>
					<xs:element ref="ext:PressPackImage" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:PressPackImage" maxOccurs="unbounded"/>
					<xs:element ref="ext:AudioLayout"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Movie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="core:Ext"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="content:AudioType"/>
						<xs:element ref="content:ScreenFormat"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="content:SourceUrl"/>
						<xs:element ref="content:ContentFileSize"/>
						<xs:element ref="content:ContentCheckSum"/>
						<xs:element ref="content:AudioType"/>
						<xs:element ref="content:ScreenFormat"/>
						<xs:element ref="content:FrameRate"/>
						<xs:element ref="content:AVContainer"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="content:Duration"/>
				<xs:element ref="content:IsHDContent"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2021-09-09T17:50:42Z"/>
						<xs:enumeration value="2021-10-13T16:44:20Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Offer">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="core:Ext" maxOccurs="unbounded"/>
					<xs:element ref="offer:ProviderContentTier" minOccurs="0"/>
					<xs:element ref="offer:BillingId"/>
					<xs:element ref="offer:TermsRef"/>
					<xs:element ref="offer:ContentGroupRef"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="offer:BillingId"/>
					<xs:element ref="offer:TermsRef"/>
					<xs:element ref="offer:ContentGroupRef"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Terms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="core:Ext"/>
				<xs:element ref="terms:SuggestedPrice"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Thumbnail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="content:SourceUrl"/>
				<xs:element ref="content:ContentFileSize"/>
				<xs:element ref="content:ContentCheckSum"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Title">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="core:Ext"/>
						<xs:element ref="title:LocalizableTitle"/>
						<xs:element ref="title:Rating" maxOccurs="unbounded"/>
						<xs:element ref="title:DisplayRunTime"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="core:AlternateId"/>
						<xs:element ref="core:Ext"/>
						<xs:element ref="title:LocalizableTitle"/>
						<xs:element ref="title:Rating" maxOccurs="unbounded"/>
						<xs:element ref="title:DisplayRunTime"/>
						<xs:element ref="title:Year"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="title:Genre"/>
				<xs:element ref="title:ShowType"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">

					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
