schemas/ADI_XSD2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="URN:NNDS:CMS:ADI3:01" xmlns="URN:NNDS:CMS:ADI3:01" xmlns:ext="URN:NNDS:CMS:ADI3:01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:content="http://www.cablelabs.com/namespaces/metadata/xsd/content/1">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" schemaLocation="ADI_XSD5.xsd"/>
	<xs:element name="AbstractFormat">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:VideoFormat"/>
				<xs:element ref="ext:VideoFormatVariant"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AudioLayout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:AudioTracks"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AudioLayoutRef">
		<xs:complexType>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AudioTrack">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ext:ST_AudioTrack">
					<xs:attribute name="trackNo" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AudioTracks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:AudioTrack" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="audioType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="xml:lang" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CategoryImage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="content:SourceUrl"/>
				<xs:element ref="content:ContentFileSize"/>
				<xs:element ref="content:ContentCheckSum"/>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CategoryImageRef">
		<xs:complexType>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContentCheckSum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentFileSize">
		<xs:simpleType>
			<xs:restriction base="xs:long">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentGroupType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AV"/>
				<xs:enumeration value="PP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CutvEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:Service"/>
			</xs:sequence>
			<xs:attribute name="epgDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="leadServiceKey" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DealSub">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="E:Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Device">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:DeviceConnectivity"/>
				<xs:element ref="ext:DeviceType"/>
				<xs:element ref="ext:DevicePlatform"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeviceConnectivity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BROADBAND"/>
				<xs:enumeration value="MOBILE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DevicePlatform">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ANDROID"/>
				<xs:enumeration value="ANDROIDTV"/>
				<xs:enumeration value="APPLETV"/>
				<xs:enumeration value="CHROMECAST"/>
				<xs:enumeration value="EETV"/>
				<xs:enumeration value="IOS"/>
				<xs:enumeration value="LG"/>
				<xs:enumeration value="MAC"/>
				<xs:enumeration value="PC"/>
				<xs:enumeration value="PLAYSTATION"/>
				<xs:enumeration value="ROKU"/>
				<xs:enumeration value="SAMSUNG"/>
				<xs:enumeration value="VODAFONETV"/>
				<xs:enumeration value="XBOX"/>
				<xs:enumeration value="YOUVIEW"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DeviceType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="COMPUTER"/>
				<xs:enumeration value="CONSOLE"/>
				<xs:enumeration value="IPSETTOPBOX"/>
				<xs:enumeration value="IPSTB"/>
				<xs:enumeration value="MOBILE"/>
				<xs:enumeration value="SETTOPBOX"/>
				<xs:enumeration value="TABLET"/>
				<xs:enumeration value="TV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EOM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EpisodeName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExhibitionDateTime">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsAudioDescribed">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsDownloadable" type="xs:boolean"/>
	<xs:element name="IsSigned">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsStreamable" type="xs:boolean"/>
	<xs:element name="IsSubtitle">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LinkedObject">
		<xs:complexType>
			<xs:attribute name="object" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MultiFormat"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocalizableTitleExt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:EpisodeName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieExtensions">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="ext:assetPart"/>
					<xs:element ref="ext:AbstractFormat" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:playListTemplateId"/>
					<xs:element ref="ext:numMidRolls"/>
					<xs:element ref="ext:encodingProfile"/>
					<xs:element ref="ext:assetPart" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="OfferCapability">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:IsStreamable"/>
				<xs:element ref="ext:IsDownloadable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlayRegion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PressPackImage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="content:SourceUrl"/>
				<xs:element ref="content:ContentFileSize"/>
				<xs:element ref="content:ContentCheckSum"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="content:X_Resolution"/>
						<xs:element ref="content:Y_Resolution"/>
						<xs:element ref="content:Language"/>
						<xs:element ref="ext:Usage"/>
					</xs:sequence>
					<xs:element ref="content:Usage"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="creationDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="providerVersionNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDateTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PressPackImageRef">
		<xs:complexType>
			<xs:attribute name="uriId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Proposition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:ServiceProviderRegion"/>
				<xs:element ref="ext:ServiceProvider"/>
				<xs:element ref="ext:PropositionName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropositionName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SeriesInfo">
		<xs:complexType>
			<xs:attribute name="episodeNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="seasonNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">					
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="totalEpisodes" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Service">
		<xs:complexType>
			<xs:attribute name="serviceKey" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceProvider">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServiceProviderRegion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceUrl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TermType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Archive"/>
				<xs:enumeration value="CUTV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleExtensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:DealSub"/>
			</xs:sequence>
			<xs:attribute name="Language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="eng"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Usage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VideoFormat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SD"/>
				<xs:enumeration value="HD"/>
				<xs:enumeration value="UHD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VideoFormatVariant">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="480"/>
				<xs:enumeration value="576"/>
				<xs:enumeration value="720"/>
				<xs:enumeration value="1080"/>
				<xs:enumeration value="2160"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="assetPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ext:SourceUrl"/>
				<xs:element ref="ext:ContentFileSize"/>
				<xs:element ref="ext:ContentCheckSum"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="ext:SOE"/>
					<xs:element ref="ext:SOM"/>
					<xs:element ref="ext:EOM"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="partNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="encodingProfile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0x54402400"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numMidRolls">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="playListTemplateId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_AudioTrack">
		<xs:restriction base="xs:string">
			<xs:enumeration value="L"/>
			<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
