schemas/ADI_XSD5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AVContainer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MXF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AudioType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentCheckSum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Fa-f]{32}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentFileSize">
		<xs:simpleType>
			<xs:restriction base="xs:long">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Duration">
		<xs:simpleType>
			<xs:restriction base="xs:duration">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FrameRate">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			<xs:pattern value="(24|25|30|60|private:\d+)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsHDContent" type="xs:boolean"/>
	<xs:element name="Language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ScreenFormat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(Standard|Widescreen|Letterbox|OAR|private:.+)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceUrl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Usage" type="xs:anyURI"/>
	<xs:element name="X_Resolution">
		<xs:simpleType>
			<xs:restriction base="xs:short">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Y_Resolution">
		<xs:simpleType>
			<xs:restriction base="xs:short">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
