schemas/ADI_XSD4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:title="http://www.cablelabs.com/namespaces/metadata/xsd/title/1">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Actor">
		<xs:complexType>
			<xs:attribute name="firstName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fullName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lastName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sortableName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActorDisplay" type="xs:string"/>
	<xs:element name="Director">
		<xs:complexType>
			<xs:attribute name="firstName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fullName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lastName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sortableName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DirectorDisplay">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DisplayRunTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Genre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LocalizableTitle">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="title:TitleBrief"/>
					<xs:element ref="title:TitleMedium"/>
					<xs:element ref="title:TitleLong"/>
					<xs:element ref="title:SummaryShort"/>
					<xs:element ref="title:Actor" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="title:TitleSortName"/>
					<xs:element ref="title:TitleBrief"/>
					<xs:element ref="title:TitleMedium"/>
					<xs:element ref="title:TitleLong"/>
					<xs:element ref="title:SummaryBrief"/>
					<xs:element ref="title:SummaryShort"/>
					<xs:element ref="title:SummaryMedium"/>
					<xs:element ref="title:SummaryLong"/>
					<xs:element ref="title:ActorDisplay"/>
					<xs:element ref="title:Actor" maxOccurs="unbounded"/>
					<xs:element ref="title:DirectorDisplay"/>
					<xs:element ref="title:Director"/>
					<xs:element ref="title:StudioDisplay"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rating">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="title:ST_Rating">
					<xs:attribute name="ratingSystem" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StudioDisplay">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SummaryBrief" type="xs:string"/>
	<xs:element name="SummaryLong" type="xs:string"/>
	<xs:element name="SummaryMedium" type="xs:string"/>
	<xs:element name="SummaryShort" type="xs:string"/>
	<xs:element name="TitleBrief">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleLong">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleMedium">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TitleSortName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Year">
		<xs:simpleType>
			<xs:restriction base="xs:short">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_Rating">
		<xs:restriction base="xs:byte">
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
