schemas/ADI_XSD1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" xmlns="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" xmlns:ext="URN:NNDS:CMS:ADI3:01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.cablelabs.com/namespaces/metadata/xsd/core/1">
	<xs:import namespace="URN:NNDS:CMS:ADI3:01" schemaLocation="ADI_XSD2.xsd"/>
	<xs:element name="AlternateId">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="core:ST_AlternateId">
					<xs:attribute name="identifierSystem" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="PUID"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ext">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="ext:TermType"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="ext:Region"/>
						<xs:element ref="ext:PlayRegion" maxOccurs="unbounded"/>
						<xs:element ref="ext:Proposition"/>
						<xs:element ref="ext:Device" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:CutvEvent"/>
					<xs:element ref="ext:OfferCapability" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:MovieExtensions"/>
					<xs:element ref="ext:AudioLayoutRef" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:ContentGroupType"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="ext:CategoryImageRef" minOccurs="0"/>
						<xs:element ref="ext:PressPackImageRef" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:IsSigned"/>
					<xs:element ref="ext:IsSubtitle"/>
					<xs:element ref="ext:IsAudioDescribed"/>
					<xs:element ref="ext:ExhibitionDateTime"/>
					<xs:element ref="ext:TitleExtensions"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext:LocalizableTitleExt"/>
					<xs:element ref="ext:SeriesInfo"/>
					<xs:element ref="ext:LinkedObject"/>
				</xs:sequence>
				<xs:element ref="ext:OfferCapability"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_AlternateId">
		<xs:restriction base="xs:int">
			<xs:enumeration value="294915"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
